# =========================

# Build results

# =========================

[Bb]in/
[Oo]bj/
frontend/**/bin/
frontend/**/obj/

# =========================

# User-specific files

# =========================

*.user
*.userosscache
*.suo
*.rsuser

backend/Goalz/.sonarqube/

# =========================

# Visual Studio

# =========================

.vs/
.vscode/
.idea/

# =========================

# Rider

# =========================

*.sln.iml

# =========================

# Logs

# =========================

*.log

# =========================

# ASP.NET Core

# =========================

appsettings.Development.json
appsettings.*.Development.json

# =========================

# Environment variables

# =========================

.env
.env.*

# =========================

# Publish output

# =========================

publish/
*.publishproj

# =========================

# NuGet

# =========================

*.nupkg
*.snupkg
.nuget/
packages/

# =========================

# Dotnet tools

# =========================

.dotnet/

# =========================

# Test results

# =========================

TestResults/
*.trx
*.coverage
*.coveragexml

# =========================

# OS files

# =========================

.DS_Store
Thumbs.db

# =========================

# Resharper

# =========================

_ReSharper*/
*.DotSettings.user

# =========================

# Rider / JetBrains

# =========================

.idea/

# =========================

# Misc

# =========================

*.cache
