@import "tailwindcss";

@theme {
  --color-primary-green: #1A6640;
  --color-secondary-green: #33A661;
  --color-light-green: #E0F7E8;

  --color-secondary-black: #1A241F;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

h1{
  color: #4B4B4B;
  text-align: center;
  font-family: "FONTSPRING DEMO - DIN 2014 Rounded Bold";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

h2{
  color: #4B4B4B;
  text-align: center;
  font-family: "FONTSPRING DEMO - DIN 2014 Rounded Bold";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  }

h3{
  color: #4B4B4B;
  text-align: center;
  font-family: "FONTSPRING DEMO - DIN 2014 Rounded Demi";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

p{
  color: #4B4B4B;
  text-align: center;
  font-family: "FONTSPRING DEMO - DIN 2014 Rounded Demi";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.4px;
}

.p2{
  color: #000;
  text-align: center;
  font-family: "FONTSPRING DEMO - DIN 2014 Rounded Demi";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.32px;
}

