@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'FONTSPRING DEMO - DIN 2014 Rounded Bold';
    src: url('../mobile/fonts/fontspring-demo-din-2014-rounded-bold.otf') format('opentype')
}

@font-face {
    font-family: 'FONTSPRING DEMO - DIN 2014 Rounded Demi';
    src: url('../mobile/fonts/fontspring-demo-din-2014-rounded-demi.otf') format('opentype')
}

@font-face {
    font-family: 'Feather Bold NC';
    src: url('../mobile/fonts/DuolingoFeatherBold_nocolor.ttf') format('truetype')
}

@layer base {
    h1 {
        color: #4B4B4B;
        text-align: center;
        font-family: "FONTSPRING DEMO - DIN 2014 Rounded Bold";
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }

    h2 {
        color: #4B4B4B;
        text-align: center;
        font-family: "FONTSPRING DEMO - DIN 2014 Rounded Bold";
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }

    h3 {
        color: #4B4B4B;
        text-align: center;
        font-family: "FONTSPRING DEMO - DIN 2014 Rounded Demi";
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
    }

}

@layer components {
    .p {
        color: #4B4B4B;
        text-align: center;
        font-family: "FONTSPRING DEMO - DIN 2014 Rounded Demi";
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.4px;
    }

    .p2 {
        color: #4B4B4B;
        text-align: center;
        font-family: "FONTSPRING DEMO - DIN 2014 Rounded Demi";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.32px;
    }

    .hyper {
        color: #4B4B4B;
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .logo {
        color: #C07F58;
        text-align: center;
        font-family: "Feather Bold NC";
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}